---
import apps, { Lang } from "../apps.ts";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Are We LibAdwaita Yet?</title>
    <meta
      name="description"
      content="A curated list of apps tailored for Gnome using libadwaita"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://arewelibadwaitayet.com" />
  </head>
  <body class="dark:bg-zinc-950">
    <div class="max-w-7xl w-full mx-auto px-4 md:px-6 lg:px-8">
      <div class="max-w-3xl flex flex-col mx-auto text-center">
        <h1 class="text-6xl dark:text-white font-extrabold text-zinc-900 mt-12">
          Are We LibAdwaita Yet?
        </h1>
        <h2 class="text-xl dark:text-white font-extrabold text-zinc-900 mt-12">
          Your Ultimate Guide to LibAdwaita-Powered Apps
        </h2>
        <p
          class="leading-relaxed text-lg text-zinc-800 mt-4 dark:text-zinc-200"
        >
          Calling all Linux enthusiasts and code nerds! "Are We LibAdwaita Yet?"
          is your no-nonsense directory of Linux apps utilizing libadwaita.
          Explore the world of LibAdwaita, discover the coolest apps, and
          satisfy your tech cravings right here. <strong
            >🚀 Explore. Geek Out. 🤓</strong
          >
        </p>
      </div>

      <main
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-12 mt-20"
      >
        {
          apps.map((app) => (
            <article class="relative">
              <span
                class="ml-1.5 mt-1.5 absolute top-0 lef-0 text-xs px-1.5 py-0.5 rounded-md font-medium dark:bg-zinc-800 dark:text-white"
                class:list={{
                  "bg-blue-100 text-blue-900": app.lang === Lang.Python,
                  "bg-sky-100 text-sky-900": app.lang === Lang.Go,
                  "bg-orange-100 text-orange-900": app.lang === Lang.Rust,
                  "bg-lime-100 text-lime-900": app.lang === Lang.CSharp,
                  "bg-purple-100 text-purple-900": app.lang === Lang.Vala,
                  "bg-zinc-100 text-zinc-900":
                    app.lang === Lang.C || app.lang === Lang.Crystal,
                  "bg-pink-100 text-pink-900": app.lang === Lang.CPlusPlus,
                  "bg-yellow-100 text-yellow-900": app.lang === Lang.JavaScript,
                }}
              >
                {app.lang}
              </span>
              <a
                class="hover:bg-zinc-50 dark:hover:bg-zinc-800 transition-colors rounded-xl p-6 flex flex-col items-center"
                href={`https://flathub.org/apps/${app.id}`}
                target="_blank"
                rel="noreferrer noopener"
              >
                <img
                  alt={`${app.name} logo`}
                  class="w-20"
                  loading="lazy"
                  src={`https://dl.flathub.org/repo/appstream/x86_64/icons/128x128/${app.id}.png`}
                />
                <span class="text-lg font-medium text-zinc-900 dark:text-white">
                  {app.name}
                </span>
                <p class="text-sm text-zinc-600 dark:text-zinc-400 text-center">
                  {app.desc}
                </p>
              </a>
            </article>
          ))
        }
      </main>
      <div class="mt-12 text-center text-zinc-600 dark:text-zinc-300 font-bold">
        A total of {apps.length} apps using LibAdwaita
      </div>
    </div>

    <footer class="bg-zinc-50 mt-20 dark:bg-zinc-900">
      <div
        class="max-w-7xl w-full text-center py-6 text-zinc-700 dark:text-zinc-300 text-sm font-medium mx-auto px-4 md:px-6 lg:px-8"
      >
        Contributions are welcome on <a
          class="text-teal-700 dark:text-teal-300 underline"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/brielov/arewelibadwaitayet">GitHub</a
        >
      </div>
    </footer>
  </body>
</html>
